{% extends 'htfiles/header.html' %}
{% block title %}Give Permissions {% endblock %}
{% block content %}
<div class="container mt-4">
	<div class="card col-md-8 mx-auto shadow-lg">
		<div class="card-body">
			<h3>Give Permissions</h3>
			<table class="table table-borderless">
				<tr class="bg-dark text-light">
					<th>sno</th>
					<th>username</th>
					<th>requested</th>
					<th>accessing</th>
					<th>action</th>
				</tr>
				{% for n in v %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{n.0}}</td>
					<td>
						{% if n.1 == 1 %}
						<span class="badge badge-warning p-2">Medicinist</span>
						{% elif n.1 == 2 %}
						<span class="badge badge-info p-2">Organisation</span>{% endif %}
					</td>
					<td>{% if n.3 == 1 %}<span class="badge badge-warning p-2">Medicinist</span>{% elif n.3 == 2 %}<span class="badge badge-info p-2">Organisation</span>{% else %}<span class="badge badge-danger p-2">Guest</span>{% endif %}</td>
					<td><a href="{% url 'apr' n.4 %}" class="btn btn-outline-secondary">Give</a></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}